.wrapper {
    overflow-x: hidden;
}



.brand-text {
    color: white;
    font-size: 1em;
}

/********** JUMBOTRON MEDIA QUERIES ******/

@media only screen and (max-width: 576px) {
    .jumbotron {
        padding-top: 12%;
    }
}

@media only screen and (max-width: 376px) {
    .jumbotron {
        padding-top: 19%;
    }
}

@media only screen and (max-width: 321px) {
    .jumbotron {
        padding-top: 19%;
    }
}

.jumbotron {
    color: black;
}

#fondo-jumbo {
    background-image: url('/img/fondo_1_gris.jpg');
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
}

/*********************************/

.container1 {
    background-color: #1F1E1E;
    color: white;
}

.container.bandas-locales {
    background-color: white;
    height: 2000px;
}

#banda-local {
    float: left;
    padding-right: 2em;
}
@media only screen and (max-width: 768px) {
    #banda-local {
        padding-right: 0em;
    }
}
