.wrapper {
    overflow-x: hidden;

}

.jumbotron {
    background-color: white;
    color: black;
}

.container1 {
    background-color: #1F1E1E;
    color: white;
}

#fondo-jumbo {
    background-image: url('/img/fondo_1_gris.jpg');
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
}

/*********************************/

.container.bandas-locales {
    background-color: white;
}

#banda-local {
    float: left;
    padding-right: 2em;
}

